body{}

.header{
  height: 15vh;
  background-color: #d1ae68;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header img{
  height: 13vh;
  width: auto;
}
.menu{
  display: flex;
  justify-content: space-around;
  padding: 3vh;
  border: 1px solid black;
}

a{
  color: white;
  background-color: grey;
  height: 4.5vh;
  text-shadow: inherit;

}
a:hover{
  color:white;
  text-shadow: inherit;
}

.principal{
  text-align: center;
}

form{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.searchResult{
	margin-top: 5vh;
	text-align: left;
}

.searchBar{
	width: 20vw;
}
.criteriaSelect{
	width: 10vw;
}
