body{}

.principal{
  text-align: center;
}

.searchResult{
	margin-top: 5vh;
	text-align: left;
}

.searchBar{
	width: 20vw;
}
.criteriaSelect{
	width: 10vw;
}

#available{
	color : green;
}
#notAvailable{
	color : red;
}
